* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 1.13rem;
	background: #ffffff;
	color: #121212;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.75px;
}

h1 {
	font-size: 4.5rem;
	line-height: 122%;
}
h2 {
	font-size: 4rem;
	line-height: 122%;
}
h3 {
	font-size: 3rem;
	line-height: 122%;
}
h4 {
	font-size: 2.25rem;
	line-height: 122%;
}
h5 {
	font-size: 1.5rem;
	line-height: 122%;
}
h6 {
	font-size: 1.25rem;
	line-height: 122%;
}

@font-face {
    font-family: 'Inter';
    src: url('data/fonts/Inter/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('data/fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('data/fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('data/fonts/Inter/Inter-Regular.woff') format('woff'),
        url('data/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('data/fonts/Inter/Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('data/fonts/Inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('data/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
        url('data/fonts/Inter/Inter-SemiBold.woff') format('woff'),
        url('data/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

a {
	color: #02657C;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

input[type="text"] {
	background: #fff;
	border: 1px solid #D0D0D0;
	box-sizing: border-box;
	border-radius: 24px;
	padding: 16px 32px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	outline: none;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

input[type="text"]:hover {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	outline: none;
}

input[type="text"]:focus {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	border: 1px solid #9A9A9A;
	color: #121212;
}

input[type="password"] {
	background: #fff;
	border: 1px solid #D0D0D0;
	box-sizing: border-box;
	box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 24px;
	padding: 16px 32px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

input[type="password"]:hover {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	outline: none;
}

input[type="password"]:focus {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	border: 1px solid #9A9A9A;
	color: #121212;
}

.input-block {
	display: block;
	margin-bottom: 16px;
	width: 100%;
}

.link_icon_right {
	display: block;
}
.link_icon_right:after {
	content: url(data/images/main/icons/right_arrow.svg);
	margin-left: 4px;
}

.text_margin {
	margin-bottom: 48px;
}

.text_bold {
	font-weight: 600;
}

.text_regular {
	font-weight: 400;
}

.text_large {
	font-style: normal;
	font-size: 22px;
	line-height: 136%;
	letter-spacing: 0.75px;
}

.text_normal {
	font-style: normal;
	font-size: 1.13rem;
	line-height: 156%;
}

.text_small {
	font-style: normal;
	font-size: 16px;
	line-height: 150%;
}

.text_xsmall {
	font-style: normal;
	font-size: 14px;
	line-height: 157%;
}

.text_center {
	text-align: center;
}

.text_red {
	color: #F25A4F;
}
.text_primary {
	color: #02657C;
}
.text_grey {
	color: #9A9A9A;
}
.text_grey_40 {
	color: #D0D0D0;
}

.button {
	background: #F15A4F;
	outline: none;
	border: 0;
	border-radius: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.button:hover {
	cursor:pointer;
	background: #E7554A;
	text-decoration: none;
}

.button__large {
	padding: 26px 48px;
	font-size: 24px;
	border-radius: 24px;
}

.button__medium {
	padding: 24px 48px;
	font-size: 22px;
	border-radius: 24px;
}

.button__small {
	padding: 16px 42px;
	font-size: 18px;
}

.button__slim {
	border-radius: 360px;
	padding: 7px 24px;
	font-size: 16px;
	line-height: 150%;
}

.tr {
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.hamburger {
	background: #ffffff;
	border-radius: 360px;
	display: flex;
	width: 38px;
	height: 38px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 16px;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    outline: none;
}

.hamburger:hover {
	cursor: pointer;
	opacity: 0.8;
}

.hamburger img {
	max-width: 100%;
}

.hamburger-white {
	border: 2px solid #02657C;
}

.logo {
	background-image: url(data/images/main/logo-white.svg);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	width: 161px;
	height: 50px;
	position: relative;
}

.logo-white {
	background-image: url(data/images/main/logo-black.svg);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	width: 161px;
	height: 50px;
}

.hello-display {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-bottom: 1rem;
	background: linear-gradient(180deg, rgba(2, 101, 124, 0.6) 8%, rgba(113, 113, 113, 0) 19.56%), url(data/images/hello-background.jpg) no-repeat;
	background-position: center;
	min-height: 760px;
	color: #ffffff;
	margin-bottom: 96px;
}

.hello-display__textarea {
	width: 690px;
	display: block;
	text-align: center;
	margin: 24px 0 72px 0;
}

.about-display {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-bottom: 1rem;
	background: linear-gradient(180deg, rgba(2, 101, 124, 0.6) 8%, rgba(113, 113, 113, 0) 19.56%), url(data/images/about-background.jpg) no-repeat;
	background-size: 100%;
	min-height: 760px;
	color: #ffffff;
	margin-bottom: 96px;
}

.about-display__textarea {
	width: 690px;
	display: block;
	margin: 24px 0 72px 0;
}

.container {
	display: flex;
	width: 1440px;
	margin: 0 auto;
	flex-wrap: nowrap;
	flex-shrink: 1;
	flex-direction: column;
}

.container-946px {
	display: flex;
	width: 946px;
	margin: 0 auto;
	flex-wrap: nowrap;
	flex-shrink: 1;
	flex-direction: column;
}

.container__header {
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 16px 0 25px 0;
}

.container__bus_ticket {
	margin: 48px 0;
	grid-gap: 40px;
}

.container__column-center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container__content {
	flex-direction: column;
	margin-bottom: 96px;
}

.container__title {
	display: flex;
	flex-direction: column;
	margin-bottom: 56px;
}

.container-sixcards {
	display: grid;
	grid-template-rows: 300px 300px;
	grid-template-columns: auto auto auto;
	grid-gap: 32px;
	margin-top: -164px;
}

.container__title h3 {
	margin-bottom: 24px;
}

.container__footer-right {
	display: flex;
	justify-content: flex-end;
	margin-top: 56px;
}

.container__footer-center {
	display: flex;
	justify-content: center;
	margin-top: 56px;
}

header {
	width: 100%;
	position: absolute;
	height: 92px;
}

.header-white {
	width: 100%;
	position: relative;
	height: 92px;
	background: #fff;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	margin-bottom:  32px;
}

.header__menu {
	margin-top: 0.7rem;
	display: flex;
	flex-direction: row;
}

.header__menu-white {
	margin-top: 0.7rem;
	display: flex;
	flex-direction: row;
}

.header__rightmenu {
	margin-top: 0.7rem;
	display: flex;
	flex-direction: row;
	align-items: center;

}

.header__menu a {
	position: relative;
	text-decoration: none;
	display: block;
	color: #fff;
	margin-right: 24px;
	font-weight: 700;
}

.header__menu-border {
	opacity: 0;
	position: absolute;
	display: flex;
	height: 2px;
	background: #F25A4F;
	width: 22%;
	top: 24px;
}

.header__menu a:hover .header__menu-border {
	width: 100%;
	opacity: 1;
}

.logo:hover .header__menu-logo-border {
	width: 77%;
	opacity: 1;
}

.header__menu-logo-border {
	opacity: 0;
	position: absolute;
	display: flex;
	height: 2px;
	background: #F25A4F;
	width: 22%;
	top: 44px;
	left: 38px;
}

.header__menu-white a {
	position: relative;
	text-decoration: none;
	display: block;
	overflow: hidden;
	color: #121212;
	font-weight: 700;
	margin-right: 24px;
}

.header__menu-white .header__menu-active {
	color: #F15A4F;
}

.header__menu .header__menu-active {
	border-bottom: 1px solid #F15A4F;
}

.search-web-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

#search-web__mobile {
	display: none;
}

.search-web {
	display: flex;
	padding: 0 0 0 56px;
	flex-direction: row;
	background: #ffffff;
	border-radius: 360px;
}

.search-web-within {
	display: inline-flex;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
}

.search-web__container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.search-web__el {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: end;
	margin-right: 42px;
}

.search-web__el:hover {
	cursor: pointer;
	text-decoration: none;
}

.search-web__el:hover .search-web__textarea .text_large {
	color: #02657C;
}

.search-web__el:hover .search-web__textarea .text_normal {
	color: #02657C;
}

.search-web__textarea {
	display: inline-flex;
	flex-shrink: 0;	
	flex-direction: column;
	margin-left: 16px;

}

.search-web__textarea .text_large {
	color: #121212;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.search-web__textarea .text_normal {
	color: #9A9A9A;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.search-web__button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 32px;
	background: #F25A4F;
	border-radius: 360px;
	outline: none;
	border: 0;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.search-web__button:hover {
	background: #E7554A;
	cursor: pointer;
}

.search-web__hr {
	display: block;
	background: #D0D0D0;
	width: 1px;
	height: 32px;
	margin-right: 42px;
}

.tabs {
	max-width: 100%;
	margin-top: 4rem;
}

.tabs__nav {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	border-bottom: 5px solid #02657C;
}

.tabs__link {
	padding: 20px 48px;
	text-decoration: none;
	color: #02657C;
	text-align: center;
	border: 5px solid #02657C;
	border-bottom: 0;
	margin-right: 12px;
	border-radius: 24px 24px 0 0;
}

.tabs__link:hover {
	text-decoration: none;
}

.tabs__link_active {
	background: #02657C;
	color: #fff;
	cursor: default;
}

.tabs__link:not(.tabs__link_active):hover,
.tabs__link:not(.tabs__link_active):focus {
	background-color: #efefef;
	text-decoration: none;
}

.tabs__content {
	padding: 3rem 0;
}

.tabs__list {
	display: flex;
	flex-direction: column;
}

.tabs__pane {
	display: none;
}

.tabs__pane_show {
	display: flex;
}

.tabs-menu {
	max-width: 100%;
	margin-top: 4rem;
}

.tabs-menu__nav {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	border-bottom: 5px solid #02657C;
}

.tabs-menu__link {
	padding: 20px 32px;
	text-decoration: none;
	color: #02657C;
	text-align: center;
	border-bottom: 0;
	margin-right: 12px;
	border-radius: 24px 24px 0 0;
    display: inline-flex;
    align-items: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.tabs-menu__icon, .tabs-menu__icon-active {
	margin-right: 16px;
}
.tabs-menu__icon path {
	fill: #02657C;
}
.tabs-menu__icon-active path {
	fill: #ffffff;
}

.tabs-menu__link:hover {
	text-decoration: none;
}

.tabs-menu__link_active {
	background: #02657C;
	color: #fff;
	cursor: default;
}

.tabs-menu__link:not(.tabs-menu__link_active):hover,
.tabs-menu__link:not(.tabs-menu__link_active):focus {
	background-color: #efefef;
	text-decoration: none;
}

.tabs-menu__content {
	padding: 3rem 0;
}

.tabs-menu__list {
	display: flex;
	flex-direction: column;
}

.tabs-menu__pane {
	display: none;
}

.tabs-menu__pane_show {
	display: flex;
}

.tabs-menu__el {
	display: flex;
	padding: 20px 24px;
	border-radius: 24px;
	border: 2px solid #02657C;
	color: #121212;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.tabs-menu__el:hover {
	background: #02657C;
	color: #ffffff;
	text-decoration: none;
}

.card {
	display: flex;
	flex-direction: column;
	cursor: default;
	overflow: hidden;
}

.card img {
	border-radius: 24px;
	margin: 0;
}

.card__background {
	background: #FFFFFF;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	border-radius: 24px;
}

.container__2col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.container__hamburger {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 24px;
}

.container__modal__tours {
	grid-gap: 40px 48px;
}

.container__2colwiki {
	display: grid;
	grid-template-columns: 30% 1fr;
	grid-template-rows: 1fr;
	grid-gap: 69px;
}

.container__2colwiki_first {
	display: flex;
	flex-direction: column;
}

.container__2colwiki_first .navigation-pages {
	width: 100%;
}

.container__2colwiki_first-pic {
	margin-bottom: 24px
}

.container__2colwiki_first-pic img {
	max-width: 100%;
	border-radius: 24px;
}

.bus_ticket {
	display: grid;
	grid-template-columns: 35% auto;
	grid-auto-rows: 1fr;
	grid-gap: 24px;
}

.bus_ticket__pic {
	width: 100%;
	display: block;
}

.bus_ticket__pic img {
	max-width: 100%;
	border-radius: 24px;
}

.bus_ticket__content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.bus_ticket__content-title {
	display: flex;
	flex-direction: column;
}

.bus_ticket__content-title h5 {
	margin-bottom: 8px;
}

.bus_ticket__content-prices  {
	display: flex;
	flex-direction: column;
}

.bus_ticket__content-prices_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container__3col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 40px;
}

.container__2parts {
	grid-gap: 156px;
}

.card__background_content {
	padding: 16px 24px 24px 24px;
}

.card__background img {
	border-radius: 0;
}

.card__content {
	padding: 16px 0;
}

.card__content p {
	margin: 12px 0 0 0;
}

.card__image {
	position: relative;
}

.card__image-discount {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 24px;
	color: #fff;
	background: #F25A4F;
	position: absolute;
	width: 99px;
	height: 50px;
	right: 0px;
	top: 0px;
}

.card__image img {
	max-width: 100%;
}

.card__prices {
	display: block;
	margin: 8px 0;
}
.card__price-grey {
	color: #9A9A9A;
}

.card__price-red {
	color: #F25A4F;
}

.card__price-old {
	display: inline-flex;
	position: relative;
	color: #9A9A9A;

}

.card__content-fea {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
}

.card__content-fea h5 {
	text-align: center;
	margin-top: 32px;
	width: 355px;
}

.card-tour {
	background: #02657C;
	border-radius: 24px;
	padding: 24px;
	color: #fff;
	position: relative;
}

.card-tour__info {
	display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.card-tour__info span {
	display: flex;
	margin-top: 12px;
}

.card-tour__info span img {
	margin-right: 12px;
	border-radius: 0;
}

#natalia-tour {
	background: linear-gradient(90deg, #02657C 40.68%, rgba(2, 101, 124, 0) 59.74%), url(data/images/about-background.jpg) no-repeat right;
	background-size: 115%;
}

.redline {
	position: absolute;
	display: inline-block;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	background: #BE3E35;
}

.card__link {
	margin-top: 22px;
}

.card__location {
	color: #9A9A9A;
}
.card__location:before {
	content: url(data/images/main/icons/location_grey.svg);
	margin-right: 6px;
}

.card__location-solo {
	margin-top: 16px;
	display: block;
}

.pages {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.pages p {
	margin: 0 12px;
}

.pages_prev-inactive {
	display: block;
	background: url(data/images/main/icons/prev_arrow_grey.svg) no-repeat center;
	background-size: 100%;
	width: 8px;
	height: 13px;
}

.pages_prev {
	display: block;
	background: url(data/images/main/icons/prev_arrow.svg) no-repeat center;
	background-size: 100%;
	width: 8px;
	height: 13px;
}

.pages_next-inactive {
	display: block;
	background: url(data/images/main/icons/next_arrow_grey.svg) no-repeat center;
	background-size: 100%;
	width: 8px;
	height: 13px;
}

.pages_next {
	display: block;
	background: url(data/images/main/icons/next_arrow.svg) no-repeat center;
	background-size: 100%;
	width: 8px;
	height: 13px;
}

.banner {
	display: flex;
	display: flex;
	justify-content: center;
	border-radius: 24px;
	height: 400px;
	padding: 48px;
	color: #fff;
	overflow: hidden;
	position: relative;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    text-align: center;
}

.banner__bonus {
	background: linear-gradient(180deg, rgba(2, 101, 124, 0.65) 35.32%, rgba(255, 255, 255, 0) 74.11%), url(data/images/banner_bonus.jpg) no-repeat;
	background-position: center;
}

.banner__button {
	position: absolute;
	right: auto;
	left: auto;
	bottom: 32px;
}

.banners {
	display: grid;
	grid-template: 	"banner-1col banner-1col_1" auto
					"banner-2col banner-2col" auto;
	grid-template-rows: 315px 400px;
	grid-gap: 40px;
}

.banners__2col-banner {
	display: block;
	border-radius: 24px;
	color: #fff;
	max-height: 315px;
	overflow: hidden;
	padding: 24px;
	position: relative;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}


.banners__2col-banner_first {
	background: linear-gradient(180deg, rgba(2, 101, 124, 0.65) 35.32%, rgba(255, 255, 255, 0) 74.11%), url(data/images/banner_1.jpg);
	background-size: 160%;
    background-position: center;
	grid-area: banner-1col;
}

.banners__2col-banner_second {
	background: linear-gradient(180deg, rgba(2, 101, 124, 0.65) 35.32%, rgba(255, 255, 255, 0) 74.11%), url(data/images/banner_2.jpg) no-repeat;
	background-size: 160%;
    background-position: center;
	grid-area: banner-1col_1;
}

.banners__2col-banner_long {
	display: flex;
	justify-content: center;
	background: linear-gradient(180deg, rgba(2, 101, 124, 0.65) 35.32%, rgba(255, 255, 255, 0) 74.11%), url(data/images/banner-long_1.jpg);
	grid-area: banner-2col;
	padding-top: 48px;
	background-size: 160%;
	background-position: center;
}

.banners__2col-banner_long .banners__button {
	right: auto;
	left: auto;
	bottom: 32px;
}

.banners__2col-banner_long h3 {
	text-align: center;
}

.banners__button {
	position: absolute;
	right: 32px;
	bottom: 32px;
}

.banners__2col-banner_first:hover, .banners__2col-banner_second:hover, .banners__2col-banner_long:hover {
	background-size: 166%;
}

footer {
	background: #02657C;
	padding: 48px 0;
	margin-top: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

footer a {
	color: #fff;
}

.footer__links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 48px 0 92px 0;
}

.footer__info {
	display: flex;
	flex-direction: row;
	margin-bottom: 48px;
}

.footer__social {
	display: flex;
	align-items: center;
}

.footer__social img {
	max-width: 100%;
	height: auto;
	margin-right: 8px;
}

.footer__info .footer__column {
	margin-right: 52px;
}

.footer__column {
	display: flex;
	flex-direction: column;
	min-width: 200px;

}

.footer__column h6 {
	margin-bottom: 24px;
}

.footer__column a {
	margin-bottom: 12px;
}

.footer__column p {
	margin-bottom: 8px;
}

.footer__column button {
	margin-top: 24px;
}

.bread-crumbs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 24px;
}

.bread-crumbs__active {
	margin-right: 12px;
	display: inline-flex;
}

.bread-crumbs__inactive {
	margin-right: 12px;
	display: inline-flex;
	color: #9A9A9A;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* .content h5 {
	margin-bottom: 24px;
} */

.content__title {
	display: flex;
	flex-direction: column;
	
}

.content__title-center {
	text-align: center;
}

.content__title h3, .content__title h4 {
	margin-bottom: 24px;
}

/* .content img {
	max-width: 100%;
	display: block;
	margin-bottom: 56px;
	border-radius: 24px;
} */
.content__contact {
	align-items: flex-start;
}

.content__contact-links {
	display: flex;
	flex-direction: column;
	margin-top: 48px;
}

.content__contact-links a {
	display: inline-flex;
	flex-direction: row;
	color: #121212;
	margin-bottom: 24px;
}

.content__contact-links a img {
	margin: 0 12px 8px 0;
}

.content__contact img {
	margin-bottom: 12px;
}
.content__contact h6, .content__contact p {
	margin-bottom: 8px;
}

.content p {
	
	margin-bottom: 24px;
}

ul {
	margin-bottom: 24px;
	margin-left: 22px;
}

li {
	margin-bottom: 16px;
}

.content__2stroke {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
	width: 80%;
}

.content__2col {
	display: grid;
	grid-template-columns: 362px auto;
	margin-bottom: 24px
}

.content__2stroke span {
	margin-bottom: 12px;
	color: #9A9A9A;
}

.content__documentlink {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 24px;
}

.content__documentlink a h6 {
	color: #02657C;
	cursor: pointer;
}

.content__documentlink h6 {
	color: #121212;
	cursor: default;
	margin-left: 24px;
}

.content__part {
	display: flex;
	flex-direction: column;
	margin-top: 48px;
	width: 100%;
}

.content__part-semiwidth {
	display: flex;
	flex-direction: column;
	margin-top: 48px;
	width: 70%;
}

.content__2photo {
    width: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 253px;
    grid-gap: 24px;
    margin: 48px 0;
}

.content__2photo img {
	height: 100%;
	width: auto;
	border-radius: 12px;
}

.content__part_halftitle {
	width: 60%;
}

.content__part-image {
	margin: 96px 0 56px 0;
	display: flex;
	justify-content: center;
}

.navigation-pages {
	background: #fff;
	border-radius: 24px;
	display: flex;
	width: 330px;
	flex-direction: column;
	padding: 24px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
}

.navigation-pages__child {
	margin-bottom: 12px;
}

.navigation-pages__child:last-child {
	margin: 0;
}

.team {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	grid-gap: 40px;
}

.team__member {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.team__member-name {
	margin-left: 24px;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: flex-start;
}

.message {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px 20px;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-radius: 24px;
	font-weight: 700;
	text-align: center;
} 

.message-red {
	border-color: #F15A4F;
	color: #F15A4F;
	box-shadow: 0px 6px 0px #F15A4F;
}

.message-primary {
	border-color: #02657C;
	color: #02657C;
	box-shadow: 0px 6px 0px #02657C;
}

.schedule {
	display: flex;
	flex-direction: column;
	max-width: 510px;
	margin-top: 32px;
}

.schedule__dates {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

.schedule__dates-mounth {
	display: inline-flex;
	width: 182px;
	padding: 12px 0;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background: #02657C;
	border-radius: 24px;
}

.schedule__dates-hr {
	width: 20%;
	height: 1px;
	background: #c4c4c4;
	display: inline-block;
}

.schedule__content {
	margin: 40px 0;
	display: grid;
	grid-template-columns: 120px auto;
	grid-template-rows: 30px 30px 30px;
	grid-gap: 12px;
}

.request-form {
	display: flex;
	flex-direction: column;
}

.request-form_contact {
	width: 600px;
	margin-bottom: 56px;
}

.request-form__title {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin: 0 0 56px 0;
}

.stock-block {
	background: #02657C;
    display: grid;
    grid-template-columns: 8% auto;
    grid-template-rows: auto;
    border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 32px;
}

.stock-block__date {
	display: flex;
	position: relative;
	color: #9AC1CB;
	align-items: center;
	justify-content: center;
	background: url(data/images/main/icons/dotted.svg) no-repeat;
	background-position: -16%;
}

.stock-block__date-in {
	border-right: 1px dashed #fff;
}

.stock-block__date-out {
	border-right: 2px solid #fff;
}

.stock-block__date h4 {
	transform: rotate(-90deg);
    position: absolute;
    width: 350px;
    text-align: center;
}

.stock-block__content {
	display: flex;
	flex-direction: column;
	padding: 32px;
}

.stock-block__button {
	position: absolute;
	right: 2%;
	bottom: 6%;
}

.content__2column {
	display: grid;
    grid-template-columns: 58% auto;
    grid-template-rows: auto;
    grid-gap: 64px;
}

.content__2column-first {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.content__slider__allphotos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-right: 32px;
}

.content__slider__allphotos-mini {
	display: flex;
	flex-direction: column;
}

.content__slider__allphotos-mini img {
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
	border-radius: 12px;
	display: block;
	margin-bottom: 12px;
	max-width: 161px;
}

.content__slider__allphotos-mini img:hover {
	box-shadow: 0px 0px 0px 6px rgba(2, 101, 124, 0.1);
}

.content__slider__photo img {
	border-radius: 24px;
	max-width: 100%;
}

.select {
	position: relative;
	display: inline-flex;
}

.select select {
	background: #fff;
	border: 1px solid #D0D0D0;
	box-sizing: border-box;
	border-radius: 24px;
	padding: 16px 32px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	outline: none;
	min-width: 280px;
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    font-family: inherit;/* наследует от родителя */
    cursor: pointer;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.select select:hover {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	outline: none;
}

.select:after {
    content: url(data/images/main/icons/arrow_bottom_small_grey.svg);
    display: block;
    pointer-events: none;
    position: absolute;
    top: 34%;
    right: 1.5rem;
    z-index: 1;
    margin-top: -3px;
}

.minibanner {
	min-height: 160px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 24px;
	padding: 32px;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}
.minibanner:hover {
	text-decoration: none;
}

.minibanner__weddings {
	background: linear-gradient(152.83deg, rgba(2, 101, 124, 0.62) 28.81%, rgba(255, 255, 255, 0) 83.04%), url(data/images/minibanner_weddings.jpg);
	color: #FFFFFF;
	text-decoration: none;
}
.minibanner__weddings:hover {
	text-decoration: none;
	background-size: 102%;
	background-position: 20% 20%;
}

.hotel__text {
	display: flex;
	flex-direction: column;
}

.hotel__info {
	display: flex;
	flex-direction: column;
}

.tours_card {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-bottom: 32px;
	border-bottom: 1px solid #D0D0D0;
	margin-bottom: 32px;
}

.tours_card__pic {
	width: 18%;
	flex: none;
}

.tours_card__pic img {
	max-width: 100%;
	border-radius: 24px;
}

.tours_card__desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tours_card__desc-prices {
	margin: 0;
}

.tours_card__desc-prices .card__location {
	margin-left: 12px;
}

.tours_card__desc-prices .card__prices {
	margin: 0;
}

.tours_card__button {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.tours_card__desc-top-title {
	margin-bottom: 12px;
}

.tours_card-modal-href {
	color: inherit;
}
.tours_card-modal-href:hover {
	text-decoration: none
}
.tours_card-modal-href:hover .tours_card__desc-top-title {
	color: #02657C;
}

.tours_card-modal {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 32px;
}

.tours_card-modal__pic {
	width: 30%;
	flex: none;
	margin-right:16px;
}

.tours_card-modal__pic img {
	max-width: 100%;
	border-radius: 12px;
}

.tours_card-modal__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tours_card-modal__desc-prices {
	margin: 0;
}


.tours_card-modal__desc-prices .card__prices {
	margin: 0;
}


.treatment_card {
	min-height: 230px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 32px;
	background: #02657C;
	border-radius: 24px;
	margin-bottom: 32px;
	color: #fff;
}

.treatment_card__content {
	display: flex;
	flex-direction: column;
	flex: 2 2 0%;
	color: #fff;
}
.treatment_card__button {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	flex: 2 2 0%;
}

.treatment_card__content h4 {
	margin-bottom: 24px;
}

#treatment_card-israel {
	background: linear-gradient(89.93deg, #02657C 47.9%, rgba(2, 101, 124, 0) 77.14%), url(data/images/treatment_israel.jpg), #02657C;
	background-size: 106%;
}

#treatment_card-china {
	background: linear-gradient(89.93deg, #02657C 47.9%, rgba(2, 101, 124, 0) 77.14%), url(data/images/treatment_china.jpg), #02657C;
	background-size: 106%;
}

#treatment_card-czech {
	background: linear-gradient(89.93deg, #02657C 47.9%, rgba(2, 101, 124, 0) 77.14%), url(data/images/treatment_czech.jpg), #02657C;
	background-size: 106%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.modal_bg{
	width: 100vw; 
	min-height: 100vh; 
	max-height: 100vh; 
	position: fixed; 
	left: 0; 
	top: 0;
	overflow: auto;
	z-index: 1000;
	background: #fff;
}

.modal_content {
	position: relative; 
	min-height: 100vh;
	max-height: 100vh;
	background: #ffffff;
	padding: 40px 0;
}


.modal_content_block {
	border-bottom: 1px solid #ddd;
    padding: 12px 0;
    margin-bottom: 32px;
}
.modal_content_block p {
	margin: 0;
}

.modal_content_block ul {
	margin-left: 16px;
	margin-bottom: 16px;
}

.modal_content_block h4 {
	padding-bottom: 12px;
}

.modal_content_dop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modal_content_dop p {
	color: #727272;
	font-size: 12px;
	width: 70%;
	text-align: center;
	padding-bottom: 12px;
}

.modal_close {
	width: 6%;
    height: auto;
    display: block;
    position: absolute;
    top: 2%;
    right: 2%;
}

.modal_close {
	max-width: 100%;
}

.modal_close svg path {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	fill: #000000;
	display: block
}

.modal_close:hover {
	cursor: pointer;
}

.modal_close:hover svg path {
	fill: #02657C;
}

.modal__tours_content {
	display: flex;
	flex-direction: column;
	margin-top: 56px;
	height: 100%;
}

.cards-tours {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 285px;
	grid-gap: 40px;
	align-self: center;
}

.cards-tours__card {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	display: flex;
	padding: 32px;
	border-radius: 24px;
	color: #fff;
}

.cards-tours__card:hover {
	box-shadow: 0px 0px 0px 6px rgba(2, 101, 124, 0.1);
	cursor: pointer;
}

#card-krasnodar {
	background: linear-gradient(152.83deg, rgba(2, 101, 124, 0.62) 28.81%, rgba(255, 255, 255, 0) 83.04%), url(data/images/card-krasnodar.jpg) no-repeat center;
	background-size: 120%
}
#card-abhazia {
	background: linear-gradient(152.83deg, rgba(2, 101, 124, 0.62) 28.81%, rgba(255, 255, 255, 0) 83.04%), url(data/images/card-abhazia.jpg) no-repeat center;
	background-size: 120%
}
#card-krim {
	background: linear-gradient(152.83deg, rgba(2, 101, 124, 0.62) 28.81%, rgba(255, 255, 255, 0) 83.04%), url(data/images/card-krim.jpg) no-repeat center;
	background-size: 120%
}

.cards-tours__header {
	display: flex;
	flex-direction: row;
	margin-top: 28px;
	cursor: default;
}

.cards-tours__header span {
	margin-right: 32px;
	display: inline-flex;
}

.cards-tours__header h4 {
	margin-right: 32px;
}

.cards-tours__header span h4 {
	margin-right: 12px;
}

.preloader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    visibility: visible;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 1000000;
    background: #fff;
}

.preloader-image {
	-webkit-animation: rotating 1.5s ease infinite;
	-moz-animation: rotating 1.5s ease infinite;
	-ms-animation: rotating 1.5s ease infinite;
	-o-animation: rotating 1.5s ease infinite;
	animation: rotating 1.5s ease infinite;
	margin-bottom: 16px;
}

@-webkit-keyframes rotating {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}
@-moz-keyframes rotating {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}
@-ms-keyframes rotating {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}
@-o-keyframes rotating {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}
@keyframes rotating {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}

.preloader-hide {
    opacity: 0;
    visibility: hidden;
}

.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(130px);
  opacity: 0;
}

@media (max-width: 1536px) {
	.container {
		width: 100%;
		padding: 0 48px;
	}

	.container__header {
		padding: 16px 48px 25px 48px;
		flex-wrap: wrap;
	}

}

@media (max-width: 1450px) {
	h1 {
		font-size: 4rem;
		line-height: 122%;
	}
	h2 {
		font-size: 3rem;
		line-height: 122%;
	}
	h3 {
		font-size: 2.25rem;
		line-height: 122%;
	}
	h4 {
		font-size: 1.5rem;
		line-height: 122%;
	}
	h5 {
		font-size: 1.25rem;
		line-height: 122%;
	}
	h6 {
		font-size: 1rem;
		line-height: 122%;
	}

	body {
		font-size: 1rem;	
	}

	.text_large {
		font-style: normal;
		font-size: 1.25rem;
		line-height: 136%;
		letter-spacing: 0.75px;
	}

	.text_normal {
		font-style: normal;
		font-size: 1rem;
		line-height: 156%;
	}

	.text_small {
		font-style: normal;
		font-size: 14px;
		line-height: 150%;
	}

	.text_xsmall {
		font-style: normal;
		font-size: 12px;
		line-height: 157%;
	}

	.banners {
	   grid-template-rows: 265px 300px;
	}

	.button__small {
		padding: 14px 32px;
    	font-size: 16px;
	}

	.button__slim {
		font-size: 14px;
	}

	.container__title h3 {
    	margin-bottom: 16px;
	}

	.container__3col {
		grid-gap: 24px;
	}

	.hamburger img {
    	max-width: 55%;
	}

	.search-web__el {
		margin-right: 26px;
	}

	.search-web {
		padding: 0 0 0 32px;
	}

	.search-web__el img {
		width: 28px;
		height: auto;
	}

	.search-web__button {
		padding: 28px 24px;
	}
	.search-web__button img {
		max-width: 80%;
	}
}

@media (max-width: 1320px) {

	.hello-display {
	    background: linear-gradient(180deg, rgba(2, 101, 124, 0.6) 8%, rgba(113, 113, 113, 0) 42%), url(data/images/hello-background.jpg) no-repeat;
	}

	.header__menu {
    	margin: 48px auto 0;
    	order: 2;
	}

	.header__rightmenu {
		order: 1;
		margin-left: 4rem;
	}

	.search-web__button {
		padding: 24px 22px 24px 24px;
	}
	.search-web__button img {
		width: 90%;
	}

	.search-web__textarea .text_large {
	 font-size: 1.1em;
	}

	.search-web__textarea .text_normal {
		font-size: 0.9em;
	}

	.search-web__el, .search-web__hr {
		margin-right: 22px;
	}

	.header__menu {
		width: 100%;
		justify-content: space-between;
	}
	.header__menu a {
		margin: 0;
	}

	.container__content {
		margin-bottom: 64px;
	}
}

@media (max-width: 1170px) {
	.banners {
		grid-gap: 24px;
	}
	.container__3col {
		grid-template-columns: 1fr 1fr;
		grid-gap: 32px;
	}

	#search-web__desktop {
		display: none;
	}
	#search-web__mobile {
		display: flex;
		align-items: center;
	}
	.search-web {
		width: 100%;
		justify-content: space-between;
	}
}

@media (max-width: 1040px) {
	.logo {
		background-size: 100% 100%;
		width: 132px;
		height: 42px;
	}

	.footer__social img {
    	max-width: 8%;
	}

	.banners {
    	grid-template-rows: 180px 180px 180px;
    	grid-template-areas: 'a'
    						 'b'
    						 'c';
	}

	.banners__2col-banner_first {
		grid-area: a;
	}

	.banners__2col-banner_second {
		grid-area: b;
	}

	.banners__2col-banner_long {
		grid-area: c;
		padding-top: 24px;
	}

	.banners__2col-banner h4 {
		width: 50%;
	}

	footer {
		padding: 24px 0;
	}

	.footer__links {
	    margin: 24px 0 24px 0;
	}

	.footer__info {
		margin-bottom: 0;
	}

	.footer__column {
		flex-basis: 30%;
		margin-bottom: 24px;
	}

	h1 {
		font-size: 44px;
		line-height: 122%;
	}
	h2 {
		font-size: 38px;
		line-height: 122%;
	}
	h3 {
		font-size: 32px;
		line-height: 122%;
	}
	h4 {
		font-size: 24px;
		line-height: 122%;
	}
	h5 {
		font-size: 18px;
		line-height: 122%;
	}
	h6 {
		font-size: 14px;
		line-height: 122%;
	}

	body {
		font-size: 16px;	
	}

	.text_large {
		font-style: normal;
		font-size: 20px;
		line-height: 136%;
		letter-spacing: 0.75px;
	}

	.text_normal {
		font-style: normal;
		font-size: 16px;
		line-height: 156%;
	}

	.text_small {
		font-style: normal;
		font-size: 14px;
		line-height: 150%;
	}

	.text_xsmall {
		font-style: normal;
		font-size: 12px;
		line-height: 157%;
	}

	.banners__2col-banner_long .banners__button {
    	bottom: 24px;
	}
	.banners__button {
    	bottom: 24px;
    	right: 24px;
	}

	.button__small {
		font-size: 16px;
	}
	.button__slim {
		font-size: 12px;
	}

	.search-web__button {
    	padding: 16px 10px 16px 10px;
	}

	.search-web__button img {
		width: 65%;
	}

	.search-web {
    	width: 60%;
    	padding: 0 0 0 24px;
    }

    .tabs {
    	margin-top: 2rem;
    }

    .tabs__nav {
    	border-bottom: 3px solid #02657C;
    }

    .tabs__link {
    	padding: 16px 32px;
    	border: 3px solid #02657C;
    	border-bottom: 0;
    }

    .container__3col {
    	grid-gap: 18px;
    }

    .container__content {
    	margin-bottom: 32px;
	}

	.container__title {
		margin-bottom: 24px;
	}

	.container__title h3 {
   		margin-bottom: 8px;
	}
}

@media (max-width: 700px) {
	.header__menu {
		display: none;
	}

	.hello-display__textarea {
    	width: auto;
    }

    .search-web {
    	width: 100%;
    }


}

@media (max-width: 610px) {
	.tabs__link {
	    padding: 16px 0px;
	    border: 0;
	    margin-right: 48px;
	}
	.tabs__link:last-child {
		margin-right: 0;
	}
	.tabs__link:not(.tabs__link_active):hover,
	.tabs__link:not(.tabs__link_active):focus {
		background: none;
	}
	.tabs__link_active {
	    color: #02657C;
	    border-bottom: 3px solid #02657C;
	    cursor: default;
	    background: none;
	}
	.tabs__nav {
    	border-bottom: 0;
	}
	.footer__info {
    	flex-wrap: wrap;
	}

    .container {
    	padding: 0 20px;
	}
	.container__header {
		padding-top: 16px;
	}

    .banners__2col-banner h4, .banners__2col-banner h3 {
    	font-size: 18px;
    	text-align: center;
    	width: auto;
    }

    .banners__2col-banner {
    	padding: 20px;
    	display: flex;
   	 	flex-direction: column;
    	justify-content: space-between;
    }

    .banners__button {
    	position: static;
	}

	.banners__2col-banner_long {
    	background-size: 200%;
	}
	.banners__2col-banner_long:hover {
		background-size: 210%;
	}

	.container__content-title {
		text-align: center;
	}

	.hello-display {
		margin-bottom: 56px;
	}

	.tabs__nav {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	.tabs__link {
		flex: 0 0 auto;
	}

	.tabs__link:hover {
		background: none;
	}

	.mobile-container-scroll {
		display: flex;
	    flex-wrap: nowrap;
	    overflow-x: auto;
	    padding-bottom: 16px;
	    padding-top: 16px;
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    margin: 0 -3%;
	    padding-left: 1%;
	}

	.mobile-card-scroll {
		flex: 0 0 auto;
		max-width: 320px;
	}

	.button__slim, .button__small, .button__medium, .button__large {
		width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    min-height: 56px;
	}

	.button__slim {
		min-height: 32px;
	}
}

@media (max-width: 560px) {
	.container__3col {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 488px) {
	.logo {
    	background-image: url(data/images/main/logo-white-mini.svg);
    	width: 33px;
    	height: 50px;
    }
}
@media(max-width: 400px) {
	.catalog {
		display: none;
	}

}

@media(max-width: 360px) {
    .mobile-container-scroll {
	    margin: 0 -6%;
	}
}