* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  color: #000;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.75px;
}

h1 {
  font-size: 4.5rem;
  line-height: 122%;
}
h2 {
  font-size: 4rem;
  line-height: 122%;
}
h3 {
  font-size: 3rem;
  line-height: 122%;
}
h4 {
  font-size: 2.25rem;
  line-height: 122%;
}
h5 {
  font-size: 1.5rem;
  line-height: 122%;
}
h6 {
  font-size: 1.25rem;
  line-height: 122%;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#header {
  margin-top: 4rem;
}

#content {
  margin-top: 2rem;
  justify-content: space-between;
}

#field {
  width: 300px;
  height: 300px;
  border: 3px solid #e3e5fd;
}

.wrapper__leftside {
  position: relative;
  width: 50%;
}

button {
  background: #e3e5fd;
  color: #3a3c4e;
  display: inline-flex;
  padding: 24px;
  border: 0;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  align-items: center;
  justify-content: center;
  outline: none;
  -moz-transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

button:hover {
  cursor: pointer;
  background: #dadeff;
}

#start {
  background: #3abc47;
  color: #fff;
}

#start:hover {
  background: #31b23e;
  cursor: pointer;
}

#start:active,
#start:focus {
  box-shadow: 0px 0px 0px 4px rgba(58, 188, 71, 0.25);
}

.col-2fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.all-stats {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.stat:last-child {
  margin: 0;
}
